{
	"env": {
		"browser": true,
		"node": true,
		"jest/globals": true
	},
	"extends": [
		"prettier",
		"next/core-web-vitals",
		"plugin:react/recommended",
		"plugin:compat/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "tsconfig.json",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint", "jest"],
	"ignorePatterns": ["*.config.js"],
	"rules": {
		"compat/compat": "off",
		"react/display-name": "off",
		"react/react-in-jsx-scope": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/no-non-null-assertion": "off"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
