# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vercel
.next
.now
.vercel

# Project specific
.codacy-coverage
.env
.env.local
.type-coverage
tsconfig.tsbuildinfo
/coverage
/dist
/public/houdini
/public/github-calendar.svg
/public/gitlab-calendar.svg
/public/sitemap*.xml
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map
/public/fallback-*.js
src/data/open-source-projects/*.md
/src/data/updated-at.ts
