{
	"extends": ["stylelint-config-recommended"],
	"plugins": ["stylelint-no-unsupported-browser-features"],
	"rules": {
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": ["define-mixin", "extend", "for", "mixin"]
			}
		],
		"function-no-unknown": [
			true,
			{
				"ignoreFunctions": ["a", "color-mod", "shade"]
			}
		],
		"no-descending-specificity": null
	}
}
