{
	"extends": ["stylelint-config-recommended"],
	"plugins": ["stylelint-no-unsupported-browser-features"],
	"rules": {
		"indentation": null,
		"at-rule-no-unknown": null,
		"length-zero-no-unit": null,
		"function-no-unknown": null,
		"alpha-value-notation": null,
		"rule-empty-line-before": null,
		"selector-class-pattern": null,
		"custom-property-pattern": null,
		"color-function-notation": null,
		"at-rule-empty-line-before": null,
		"no-descending-specificity": null,
		"declaration-empty-line-before": null,
		"value-list-comma-newline-after": null,
		"declaration-colon-newline-after": null,
		"custom-property-empty-line-before": null
	}
}
