// Grid

.o-grid {
	@include flex-row(wrap, stretch, space-between);
	margin: 0 -0.5rem;

	&__item {
		padding: 0 0.5rem;

		&--1of2 {
			flex: 0 0 50%;
			max-width: 50%;

			@include tablet-portrait {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}
