.c-section--about {
	overflow: visible;
	background-attachment: fixed;

	&::before {
		@mixin overlay;
		opacity: 0.7;
		background-color: var(--color-secondary);
	}

	& .c-section__animation {
		top: -4.5rem;
	}
}

.c-article {
	& h3 {
		@mixin slanted;
	}

	& img {
		flex: 1;
		max-width: 15rem;
		min-width: 10rem;
		display: block;
		position: sticky;
		top: 7rem;
		left: 0;
		margin-top: -2rem;
		border-radius: 50%;
	}

	& .o-shell {
		@mixin flex-row wrap, flex-start, flex-start;
	}
}

.c-article__block {
	text-align: center;
	margin-bottom: 2rem;
	margin-left: 18rem;

	& *:not(h3):not(> div):not(.c-article__block-emoji) {
		text-align: left;
	}

	& > div {
		text-align: center;

		& *:not(h3) {
			text-align: left;
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		& h3 {
			margin-top: 1em;
		}
	}

	&:nth-of-type(1) {
		--confetti-amount: 80;
		--confetti-length: 12;
		--confetti-weight: 3;
		font-size: 120%;
		font-style: italic;
		font-weight: 700;
		flex: 1;
		margin: 0 0 3rem 3rem;

		@supports (background: paint(confetti)) {
			background: paint(confetti);
		}
	}
}

.c-article__block-emoji {
	text-align: center;
	display: block;

	&:not(:last-child) {
		padding-bottom: 1rem;
	}
}

@supports (background: paint(avatar-polygon)) {
	.c-article img {
		@mixin polygon 12;
	}
}

@media (--tablet-portrait) {
	.c-article {
		& img {
			position: static;
			top: auto;
			left: auto;
			margin: 0 auto 2rem;
		}

		& .c-article__block {
			margin-left: 0;
			flex: 0 0 100%;
		}

		& .c-article__block:nth-of-type(1) {
			font-size: 100%;
			margin-bottom: 2rem;
		}

		& .c-section__actions {
			padding-top: 4rem;
		}
	}
}

@media (--mobile) {
	.c-section--about {
		& .c-section__animation {
			margin: -3rem 0 -1rem;
		}
	}

	.c-article {
		& .c-section__actions {
			padding-top: 0;
		}
	}
}
