.c-badge {
	color: var(--color-primary);
	text-align: left;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.2);

	& a {
		color: inherit;
		text-decoration: none;

		& svg {
			backface-visibility: hidden;
			transform: scale(1);
			transition: transform var(--timing) var(--easing);
		}
	}

	& > a {
		display: block;
		position: relative;
		margin-bottom: 2rem;
		border-radius: 50%;

		& svg {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	& img {
		display: block;
		border: 1px solid var(--color-primary);
		margin: auto;
		border-radius: 50%;

		&[src*='verified-power-user-badge'] {
			border: 0;
		}
	}

	& h4,
	& h5 {
		margin-bottom: 0.5rem;

		& svg {
			margin-top: -0.125rem;
		}
	}
}

.theme-light {
	& .c-badge {
		background-color: rgba(0, 0, 0, 0.2);

		& img {
			border-color: var(--color-secondary);
		}
	}
}

@media (--tablet-landscape) {
	.c-badge {
		padding: 1rem;

		& > a {
			margin-bottom: 1rem;
		}

		& img {
			width: 12.5rem;
			height: 12.5rem;
		}
	}
}

@media (--hover) {
	.c-badge {
		& h4,
		& h5 {
			& a:hover {
				text-decoration: underline;
			}
		}

		& a:hover {
			& svg {
				transform: scale(1.1);
			}
		}
	}
}
