.c-section--blog-post,
.c-section--open-source-project {
	text-align: center;

	& .c-section__header,
	& .c-section__header ~ img {
		position: relative;
		z-index: 2;
	}

	& .c-section__header ~ img {
		width: 100%;
		height: auto;
		display: block;
		border: 1px solid;
	}
}

.c-blog-post {
	text-align: left;
	position: relative;
	z-index: 2;
	padding: 2rem;
	margin-bottom: 1rem;
	background-color: var(--color-base);

	& h2,
	& h3,
	& h4 {
		margin-bottom: 1rem;
	}

	& table {
		width: 100%;
		border: 0;
		border-collapse: collapse;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	& th {
		background-color: rgba(0, 0, 0, 0.7);
	}

	& th,
	& td {
		padding: 0.3125rem;
		border: 1px solid rgba(0, 0, 0, 0.7);
	}

	& tr:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.7);
	}

	& p,
	& ul,
	& ol,
	& dl,
	& table,
	& pre {
		margin-bottom: 1em;
	}

	& p {
		& > img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	& ul {
		margin-left: 1.25rem;
	}

	& hr {
		border-width: 0 0 1px;
		border-style: solid;
		border-color: currentColor;
		margin: 0 1em 1em;
	}

	& small {
		font-size: 90%;
	}

	& sup {
		font-size: 80%;
		line-height: 1;
		vertical-align: super;
	}

	& pre {
		font-size: 10pt;

		& code {
			max-width: 100%;
			display: block;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	& pre pre {
		margin: 0 !important;
	}

	& #disqus_thread {
		padding: 2rem;
		background-color: #282a36;
	}

	& blockquote {
		padding: 0.5rem 0 0.5rem 1rem;
		border-left: 0.25rem solid color-mod(var(--color-primary) a(30%));
		margin: 0 0 1rem;

		& :last-child {
			margin-bottom: 0;
		}
	}

	& div[align='center'] ~ div[align='center'] {
		padding-bottom: 0.5rem;

		& a {
			display: inline-block;
			vertical-align: top;
			margin: 0 0.25rem 0.5rem;

			& img {
				height: 1.5rem;
				width: auto;
				display: block;
			}
		}

		& br {
			width: 100%;
			flex: 0 0 100%;
		}
	}
}

.c-blog-post__content div:has(iframe) {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: 1rem;

	& iframe {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media (--mobile) {
	.c-blog-post {
		padding: 1rem;

		& td,
		& th,
		& thead,
		& tbody,
		& tfoot,
		& table {
			display: block;
		}

		& tr {
			min-width: 48rem;
			@mixin flex-row wrap;
		}

		& td,
		& th {
			flex: 1;
		}
	}
}

.theme-light .c-blog-post {
	background-color: color-mod(var(--color-secondary) a(7%));
}
