.c-btn {
	font-size: 1rem;
	line-height: 1.25;
	color: var(--color-primary);
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	display: inline-block;
	vertical-align: middle;
	padding: 1rem 3rem 0.875rem;
	border: 1px solid var(--color-action);
	background-color: var(--color-action);
	border-radius: 0.25rem;
	box-shadow: none;
	appearance: none;

	& .c-svg-external-link {
		margin-top: -0.1875em;
		transition: none;
	}
}

.c-btn--small {
	font-size: 0.875rem;
	line-height: 1;
	padding: 0.5rem 1rem 0.375rem;
}

.theme-light {
	& .c-btn {
		color: var(--color-secondary);
	}
}

@media (--hover) {
	.c-btn:hover {
		color: var(--color-action);
		background-color: var(--color-primary);
	}

	.theme-light .c-btn:hover {
		background-color: var(--color-secondary);
	}
}
