.c-header {
	@mixin flex-row nowrap, center, space-between;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 30;
	padding: 1rem;
	background-color: color-mod(var(--color-secondary) a(70%));

	& a {
		color: var(--color-primary);
		display: block;
		position: relative;

		& svg {
			display: block;
		}

		& img {
			width: 3.13rem;
			height: 3.13rem;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.c-header__actions {
	@mixin flex-row nowrap, center, space-between;
}

.c-theme-switcher {
	height: 3.13rem;
	@mixin flex-row nowrap, center, center;
	padding: 0.5rem 0;
	margin: 0;
	border: 0;
	background: none;
	border-radius: 0;
	box-shadow: none;
	appearance: none;

	& svg {
		width: auto;
		height: 100%;
		display: block;
	}

	& .sun,
	& .moon {
		transition: opacity var(--timing) var(--easing);
	}
}

.theme-light {
	& .c-header {
		background-color: color-mod(var(--color-primary) a(70%));
	}

	& .c-theme-switcher .moon {
		opacity: 0;
	}
}

.theme-dark .c-theme-switcher .sun {
	opacity: 0;
}
