.c-section--interactive-resume {
	& .c-section__animation {
		top: -3rem;
	}
}

.c-interactive-resume {
	text-align: center;
	@mixin flex-row wrap, flex-start, center;
	position: relative;
	z-index: 1;
	padding-bottom: 1rem;

	& h2 {
		align-self: center;
		@mixin slanted;
		margin-bottom: 4rem;
	}
}

.c-interactive-resume__widget {
	max-width: 100%;
	flex: 0 0 100%;
	padding: 2rem;
	background-color: color-mod(var(--color-primary) a(30%));

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	& h3 {
		@mixin slanted;
	}

	& codersrank-portfolio,
	& codersrank-work-experience {
		--grid-columns: 2;
	}

	& codersrank-education {
		--grid-columns: 3;
	}

	& codersrank-summary,
	& codersrank-activity,
	& codersrank-education,
	& codersrank-timeline,
	& codersrank-portfolio,
	& codersrank-skills-chart,
	& codersrank-work-experience {
		--preloader-color: var(--color-action);
		text-align: left;
	}

	& codersrank-timeline {
		--tooltip-bg-color: var(--color-secondary);
		--tooltip-text-color: var(--color-primary);
		--timeline-item-bg-color: var(--color-action);
		--timeline-item-text-color: #fff;
	}

	& codersrank-activity {
		--bg-color-0: #fff;
		--bg-color-1: color-mod(var(--color-action) a(25%));
		--bg-color-2: color-mod(var(--color-action) a(50%));
		--bg-color-3: color-mod(var(--color-action) a(75%));
		--bg-color-4: var(--color-action);
	}

	& codersrank-summary {
		--bg-color: var(--color-action);
		--badge-bg-color: var(--color-secondary);
		--header-bg-color: var(--color-action);
		--preloader-color: var(--color-action);
		--badge-text-color: var(--color-primary);
	}
}

@media (--tablet-portrait) {
	.c-interactive-resume__widget {
		& codersrank-portfolio,
		& codersrank-work-experience {
			--grid-columns: 1;
		}

		& codersrank-education {
			--grid-columns: 2;
		}
	}
}

@media (--mobile) {
	.c-section--interactive-resume {
		& .c-section__animation {
			margin: -2.5rem 0 -1.5rem;
		}
	}

	.c-interactive-resume {
		margin: 0 -1rem;
	}

	.c-interactive-resume__widget {
		padding: 1rem;

		& codersrank-education {
			--grid-columns: 1;
		}
	}
}

.theme-light .c-interactive-resume__widget {
	background-color: color-mod(var(--color-secondary) a(7%));

	& h3 {
		color: var(--color-secondary);
	}
}
