.c-nav {
	font-size: 1.2rem;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	pointer-events: none;

	& ul,
	&::before {
		opacity: 0;
		visibility: hidden;
		transition: all var(--timing) var(--easing);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-color: color-mod(var(--color-secondary) a(70%));
	}

	& ul {
		width: 20rem;
		height: 100%;
		@mixin flex-column nowrap;
		position: relative;
		z-index: 2;
		margin: 0 0 0 auto;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transform: translateX(100%);
	}

	& li,
	& a {
		width: 100%;
	}

	& li {
		flex: 1;
		opacity: 0;
		border-left: 1px solid;
		transform: translateX(100%);

		& ul {
			font-size: 75%;
			height: auto;
			flex-flow: row wrap;
			opacity: 1;
			visibility: visible;
			transform: none;

			& li {
				width: auto;
				flex: 1;
				border-top: 1px solid;
			}
		}
	}

	& li + li {
		border-top: 1px solid;
	}

	& a {
		color: var(--color-primary);
		text-decoration: none;
		@mixin flex-row nowrap, center, center;
		padding: 0.5rem;
		background-color: var(--color-secondary);

		& svg {
			transition: none;
		}

		&:only-child {
			height: 100%;
		}

		&.active,
		&.has-active:not(:only-child) {
			color: var(--color-action);
			background-color: var(--color-primary);

			& + ul {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@for $i from 1 to 20 {
	.c-nav li:nth-child($(i)) {
		transition-delay: calc(0.075s * $i);
	}
}

.c-nav--inline {
	font-size: 0.875rem;
	position: relative;
	width: auto;
	height: auto;
	top: auto;
	right: auto;
	z-index: 24;
	padding-top: 2rem;
	border-top: 1px solid var(--color-primary);
	pointer-events: auto;
	background-color: var(--color-secondary);

	&::before {
		content: none;
	}

	& ul {
		width: auto;
		height: auto;
		display: block;
		opacity: 1;
		visibility: visible;
		margin: 0;
		transform: none;
		transition: none;
		columns: 4;
		column-gap: 1rem;
	}

	& li {
		display: block;
		opacity: 1;
		padding-bottom: 0.5rem;
		border: 0;
		transform: none;
		transition: none;
		break-inside: avoid;

		& + li {
			border: 0;
		}

		& ul {
			font-size: 90%;
			columns: 1;
			column-gap: 0;
			margin: 0.5rem 0 -0.5rem 0.5rem;

			& li {
				border: 0;

				&::before {
					content: '- \00a0';
				}
			}

			& a {
				padding: 0;
			}
		}
	}

	& a {
		white-space: nowrap;
		width: auto;
		display: inline-flex;
		padding: 0;
		background-color: transparent;

		&.active,
		&.has-active:not(:only-child) {
			color: inherit;
			text-decoration: underline;
			text-decoration-color: var(--color-action);
			background-color: transparent;
		}
	}
}

@media (--hover) {
	.c-nav a:hover {
		color: var(--color-action);
		background-color: var(--color-primary);
	}

	.c-nav--inline a:hover {
		color: inherit;
		text-decoration: underline;
		text-decoration-color: var(--color-action);
		background-color: transparent;
	}
}

@media (--mobile) {
	.c-nav--inline {
		& ul {
			column-count: 2;
			column-gap: 0;
		}
	}
}

.c-nav__toggle {
	color: var(--color-primary);
	width: 3.13rem;
	height: 3.13rem;
	@mixin flex-column wrap, center, center;
	position: relative;
	top: 0;
	right: 0;
	z-index: 2;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
	transform: rotate(0deg);
	transition: all var(--timing) var(--easing);
	appearance: none;

	&:focus {
		color: var(--color-secondary);
		outline: 0 none;
		background-color: var(--color-primary);
	}

	& span {
		width: 1.25rem;
		height: 0.1875rem;
		display: block;
		opacity: 1;
		position: relative;
		top: 0;
		margin: 0.095rem auto;
		background-color: currentColor;
		transform: rotate(0deg);
		transition: all var(--timing) var(--easing);
	}
}

.c-header--open {
	& .c-nav {
		pointer-events: all;

		& > ul,
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}

	& ul {
		transform: translateX(0);
	}

	& li {
		opacity: 1;
		transform: translateX(0%);
		transition: all var(--timing) var(--easing);
	}

	& .c-nav__toggle {
		position: absolute;
		top: 2rem;
		right: 21.125rem;
		transform: rotate(450deg) translate(-1rem, -1.125rem);

		& span:nth-child(2) {
			opacity: 0;
		}

		& span:first-child {
			top: 0.375rem;
			transform: rotate(45deg);
		}

		& span:last-child {
			top: -0.375rem;
			transform: rotate(-45deg);
		}
	}
}
