.c-nav {
	font-size: 1.2rem;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	pointer-events: none;

	&::before,
	& .c-nav__inner {
		opacity: 0;
		visibility: hidden;
		transition: all var(--timing) var(--easing);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-color: color-mod(var(--color-secondary) a(70%));
	}

	& .c-nav__inner {
		width: 20rem;
		height: 100%;
		position: relative;
		z-index: 2;
		margin: 0 0 0 auto;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transform: translateX(100%);

		& > ul {
			height: 100%;
			@mixin flex-column nowrap;
			position: relative;
			z-index: 2;
			transition: transform var(--timing) var(--easing);

			&:not(:nth-child(1)) {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				transform: translateX(100%);

				& li:first-child {
					max-height: 3rem;

					& button {
						width: 100%;
						height: 100%;
						position: static;
						top: auto;
						right: auto;
						bottom: auto;
						border: 0;
						margin: 0 auto 0 0;
						border-radius: 0;

						&::before {
							transform: rotate(135deg);
							margin: 0 0 0 0.375rem;
						}
					}
				}
			}
		}
	}

	& li,
	& a {
		width: 100%;
	}

	& li {
		flex: 1;
		opacity: 0;
		border-left: 1px solid;
		transform: translateX(100%);

		& ul {
			width: 100%;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 100%;
			bottom: 0;
			transform: none;
			transition:
				opacity var(--timing) var(--easing),
				visibility var(--timing) var(--easing);

			& li {
				height: 3rem;
				border-width: 1px 1px 0;
				border-style: solid;
				border-color: var(--color-primary);
				transition: none !important;

				&:last-child {
					border-bottom-width: 1px;
				}
			}

			& button {
				width: 100%;
				height: 3rem;
				position: static;
				top: auto;
				right: auto;
				border: 0;
				margin: 0 auto 0 0;
				border-radius: 0;

				&::before {
					transform: rotate(135deg);
				}
			}
		}
	}

	& li + li {
		border-top: 1px solid;
	}

	& a {
		color: var(--color-primary);
		text-decoration: none;
		height: 100%;
		@mixin flex-row nowrap, center, center;
		padding: 0.5rem;
		background-color: var(--color-secondary);

		& svg {
			transition: none;
		}

		&.active {
			color: var(--color-action);
			background-color: var(--color-primary);

			& ~ button {
				color: var(--color-action);
			}
		}
	}

	& button {
		width: 2rem;
		height: 2rem;
		@mixin flex-row nowrap, center, center;
		position: absolute;
		top: 0;
		right: 1rem;
		bottom: 0;
		z-index: 2;
		padding: 0;
		border: 1px solid;
		margin: auto;
		background: none;
		border-radius: 50%;
		box-shadow: none;
		appearance: none;
		cursor: pointer;

		&::before {
			content: '';
			width: 0.625rem;
			height: 0.625rem;
			display: block;
			border-width: 0.125rem;
			border-style: solid;
			border-color: transparent currentcolor currentcolor transparent;
			margin-left: -0.3125rem;
			transform: rotate(-45deg);
		}
	}

	& .is--active ul {
		opacity: 1;
		visibility: visible;
	}
}

@for $i from 1 to 20 {
	.c-nav li:nth-child($(i)) {
		transition-delay: calc(0.075s * $i);
	}
}

.c-nav--active {
	& .c-nav__inner {
		& > ul {
			transform: translateX(-100%);

			&.is--visible {
				transform: translateX(0);
			}
		}
	}
}

.c-nav--inline {
	font-size: 0.875rem;
	position: relative;
	width: auto;
	height: auto;
	top: auto;
	right: auto;
	z-index: 24;
	padding-top: 2rem;
	border-top: 1px solid var(--color-primary);
	pointer-events: auto;
	background-color: var(--color-secondary);

	&::before {
		opacity: 0.15;
		visibility: visible;
		background-color: transparent;
		background-image: paint(circles);
		transition: none;
	}

	& ul {
		width: auto;
		height: auto;
		display: block;
		opacity: 1;
		visibility: visible;
		margin: 0;
		transform: none;
		transition: none;
		columns: 4;
		column-gap: 1rem;
	}

	& li {
		display: block;
		opacity: 1;
		padding-bottom: 0.5rem;
		border: 0;
		transform: none;
		transition: none;
		break-inside: avoid;

		& + li {
			border: 0;
		}

		& ul {
			font-size: 90%;
			width: auto;
			position: static;
			opacity: 1;
			visibility: visible;
			top: auto;
			right: auto;
			bottom: auto;
			left: auto;
			columns: 1;
			column-gap: 0;
			margin: 0.5rem 0 -0.25rem 0.5rem;

			& li {
				width: auto;
				height: auto;
				text-align: left;
				padding-bottom: 0.25rem;
				border: 0;

				&::before {
					content: '- \00a0';
				}
			}

			& a {
				padding: 0;
			}
		}
	}

	& a {
		white-space: nowrap;
		width: auto;
		display: inline-flex;
		padding: 0;
		background-color: transparent;

		&.active {
			color: inherit;
			text-decoration: underline;
			text-decoration-color: var(--color-action);
			background-color: transparent;
		}
	}

	& .o-shell {
		position: relative;
		z-index: 2;
	}
}

@media (--hover) {
	.c-nav a:hover {
		color: var(--color-action);
		background-color: var(--color-primary);

		& ~ button {
			color: var(--color-action);
		}
	}

	.c-nav button:hover {
		color: var(--color-primary) !important;
		border-color: var(--color-action);
		background-color: var(--color-action);
	}

	.c-nav--inline a:hover {
		color: inherit;
		text-decoration: underline;
		text-decoration-color: var(--color-action);
		background-color: transparent;
	}
}

@media (--mobile) {
	.c-nav--inline {
		& ul {
			column-count: 2;
			column-gap: 0;
		}
	}
}

.c-nav__toggle {
	color: var(--color-primary);
	width: 3.13rem;
	height: 3.13rem;
	@mixin flex-column wrap, center, center;
	position: relative;
	top: 0;
	right: 0;
	z-index: 2;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
	transform: rotate(0deg);
	transition: all var(--timing) var(--easing);
	appearance: none;

	&:focus {
		color: var(--color-secondary);
		outline: 0 none;
		background-color: var(--color-primary);
	}

	& span {
		width: 1.25rem;
		height: 0.1875rem;
		display: block;
		opacity: 1;
		position: relative;
		top: 0;
		margin: 0.095rem auto;
		background-color: currentColor;
		transform: rotate(0deg);
		transition: all var(--timing) var(--easing);
	}
}

.c-header--open {
	& .c-nav {
		pointer-events: all;

		&::before,
		& .c-nav__inner {
			opacity: 1;
			visibility: visible;
		}
	}

	& .c-nav__inner {
		transform: translateX(0);
	}

	& li {
		opacity: 1;
		transform: translateX(0%);
		transition: all var(--timing) var(--easing);
	}

	& .c-nav__toggle {
		position: absolute;
		top: 2rem;
		right: 21.125rem;
		transform: rotate(450deg) translate(-1rem, -1.125rem);

		& span:nth-child(2) {
			opacity: 0;
		}

		& span:first-child {
			top: 0.375rem;
			transform: rotate(45deg);
		}

		& span:last-child {
			top: -0.375rem;
			transform: rotate(-45deg);
		}
	}
}
