.c-packages {
	justify-content: flex-start;
}

@media (--mobile) {
	.c-packages {
		& .o-grid__item + .o-grid__item {
			padding-top: 0;
		}
	}
}

.c-package {
	color: var(--color-secondary);
	text-align: left;
	text-decoration: none;
	height: 100%;
	display: block;
	position: relative;
	padding: 1rem;
	border: 0.125rem solid var(--color-action);
	background-color: var(--color-primary);
	border-radius: 0.25rem;
	transform: scale(1);
	transition: transform var(--timing) var(--easing);
	will-change: transform;

	& p,
	& ul,
	& h4 {
		margin: 0 0 1rem;
	}

	& h4 {
		text-align: center;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--color-action);
	}

	& p {
		font-style: italic;
	}

	& ul {
		display: block;
		padding: 0;
	}

	& li {
		display: block;
		overflow: hidden;

		&::before {
			content: '- ';
		}

		& strong {
			float: right;
		}
	}

	& .c-svg-external-link {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
	}
}

@media (--hover) {
	.c-package:hover {
		transform: scale(1.05);
	}
}

.theme-light .c-package {
	color: var(--color-primary);
	background-color: var(--color-secondary);
}
