.c-section--skills,
.c-section--occupation {
	&::before {
		@mixin overlay;
		z-index: 1;
		opacity: 0.7;
		background-color: var(--color-secondary);
	}

	&::after {
		z-index: 2;
	}

	& .o-shell {
		z-index: 3;
	}

	& .c-section__wrapper,
	& .c-section__container {
		& a {
			color: currentcolor;
			text-decoration: none;
			pointer-events: none;
		}

		& svg {
			width: 100%;
			display: block;
			overflow: visible;
		}

		& text {
			font-size: 1rem;
			line-height: 1;
			fill: var(--color-primary);
			text-shadow: 0 0 0.25rem var(--color-secondary);
			opacity: 0;
			visibility: hidden;
			transition:
				opacity var(--timing) var(--easing),
				visibility var(--timing) var(--easing);
			pointer-events: none;
			user-select: none;
		}

		& line {
			stroke: var(--color-primary);
			stroke-width: 0.1275rem;
		}

		& use {
			opacity: 1;
			visibility: visible;
			transition:
				opacity var(--timing) var(--easing),
				visibility var(--timing) var(--easing);
			pointer-events: none;

			&:not([fill]) {
				fill: var(--color-primary);
			}
		}

		& circle {
			stroke: var(--color-primary);
			stroke-width: 0.1275rem;
			cursor: all-scroll;
			transition:
				fill var(--timing) var(--easing),
				stroke var(--timing) var(--easing),
				stroke-width var(--timing) var(--easing);
		}

		& g:hover {
			& > circle {
				fill: var(--color-action);
				stroke: var(--color-action);
				stroke-width: 1rem;

				& ~ text,
				& ~ a text {
					opacity: 1;
					visibility: visible;
				}

				& ~ use,
				& ~ a use {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		& .o-grid {
			max-height: 201.5rem;
			justify-content: flex-start;
			overflow: hidden;
			transition: max-height var(--timing) var(--easing);

			&.is--hidden {
				max-height: 0;
			}
		}

		& .o-shell {
			position: relative;
			z-index: 2;
		}
	}
}

#skills-graph,
#occupation-graph {
	height: 100vh;
	position: relative;
	transition: height var(--timing) var(--easing);

	& svg {
		opacity: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: opacity var(--timing) var(--easing);
	}

	&.is--hidden {
		height: 0vh;
		pointer-events: none;

		& svg {
			opacity: 0;
		}
	}
}

.c-skill {
	color: var(--color-secondary);
	text-align: left;
	min-height: 100%;
	@mixin flex-row nowrap, center, flex-start;
	padding: 1rem;
	margin: 0;
	list-style: none outside none;
	background-color: color-mod(var(--color-primary) a(70%));
	border-radius: 1rem;

	& img,
	& strong {
		display: block;
	}

	& strong {
		padding-bottom: 0.5rem;
	}

	& figure {
		width: 3.5rem;
		height: 3.5rem;
		@mixin flex-row nowrap, center, center;
		padding: 0.0625rem;
		margin-right: 1rem;
		background-color: color-mod(var(--color-secondary) a(30%));
		border-radius: 50%;

		& svg {
			width: auto;
			margin: auto;
		}
	}
}

@media (--tablet-landscape) {
	.c-section--skills {
		& .c-section__wrapper .o-grid {
			max-height: 266.5rem;
		}
	}
}

@media (--tablet-portrait) {
	.c-section--skills {
		& .c-section__wrapper .o-grid {
			max-height: 397rem;
		}
	}

	#occupation-graph {
		& svg {
			height: 100%;
		}
	}
}

@media (--mobile) {
	.c-section--skills {
		& .c-section__wrapper .o-grid {
			max-height: 610rem;
		}

		& .o-grid__item + .o-grid__item {
			padding-top: 0;
		}
	}

	#skills-graph {
		height: 75vh;

		& svg {
			transform: translate(-50%, -25%);
		}
	}

	#occupation-graph {
		& svg {
			height: 100%;
			transform: translate(-50%, -25%);
		}
	}

	.c-skill {
		padding: 0.5rem;

		& figure {
			width: 3rem;
			height: 3rem;
			padding: 0.25rem;
			margin-right: 0.5rem;
		}

		& strong {
			padding: 0;
		}
	}
}

.theme-light {
	& .c-section--skills {
		& .c-section__wrapper,
		& .c-section__container {
			& text,
			& use:not([fill]) {
				fill: var(--color-secondary);
			}

			& text {
				text-shadow: 0 0 0.25rem var(--color-primary);
			}
		}
	}

	& .c-skill {
		color: var(--color-primary);
		background-color: color-mod(var(--color-secondary) a(7%));
	}
}
