.c-section--slides,
.c-section--videos {
	color: var(--color-secondary);
	text-align: center;
	background-attachment: fixed;

	/* prettier-ignore */
	& iframe,
	& lite-youtube { /* stylelint-disable-line selector-type-no-unknown */
		max-width: none;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		border: 0;
	}

	/* prettier-ignore */
	& lite-youtube { /* stylelint-disable-line selector-type-no-unknown */
		border: 1px solid var(--color-primary);
	}

	& .c-section__nav {
		& ul {
			@mixin flex-row wrap, center, center;
		}

		& li {
			padding: 0 1rem 1rem;

			&.current .c-btn {
				color: var(--color-action);
				background-color: var(--color-primary);
				cursor: default;
			}
		}
	}

	& .c-section__body {
		position: relative;
		padding-bottom: 1rem;

		&.o-grid {
			padding-bottom: 0;
		}
	}

	& .c-section__actions {
		text-align: center;
	}

	& .c-section__frame {
		height: 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding-bottom: 62.5%;
		transition: all var(--timing) var(--easing);

		& .c-loading {
			@mixin centered;
			z-index: 1;
		}

		&.current {
			position: relative;
			opacity: 1;
			visibility: visible;
		}
	}
}

.c-section--slides {
	&::before {
		@mixin overlay;
		opacity: 0.7;
		z-index: 1;
		background-color: var(--color-secondary);
	}

	& .c-section__animation {
		top: -3rem;
	}
}

.c-section--videos {
	background-color: var(--color-secondary);
}

@media (--mobile) {
	.c-section--slides {
		& .c-section__nav {
			& ul {
				display: block;
			}

			& li {
				padding: 0 0 1rem;
			}

			& .c-btn {
				width: 100%;
				padding: 1rem;
			}
		}

		& .c-section__animation {
			margin: -1rem 0 0.75rem;
		}
	}

	.c-section--videos {
		& .c-section__animation {
			margin: -1.5rem 0 -0.25rem;
		}
	}
}

.theme-light {
	& .c-section--slides,
	& .c-section--videos {
		& .c-section__nav li.current .c-btn {
			background-color: var(--color-secondary);
		}
	}
}
