.c-section--social {
	color: var(--color-secondary);
	text-align: center;

	& h2 a {
		color: inherit;
	}

	& h3:not([class]) {
		color: var(--color-primary);
		@mixin slanted;
		margin-bottom: 1rem;
	}

	& iframe {
		width: 100%;
		display: block;
		border: 1px solid var(--color-primary) !important;
		border-radius: 0.25rem !important;
	}

	& codersrank-widget {
		--bg-color: var(--color-action);
		--badge-bg-color: var(--color-secondary);
		--header-bg-color: var(--color-action);
		--preloader-color: var(--color-action);
		--badge-text-color: var(--color-primary);
		width: 100%;
		max-width: 40rem;
		display: block;
	}

	& .svg-disconnected {
		display: block;
		margin: auto;
	}

	& .o-grid__item,
	& .c-section__entry {
		padding-bottom: 2rem;
	}

	& .c-section__entry--primary {
		& .o-grid__item > :last-child:not(iframe) {
			height: calc(100% - 4.025rem);

			& iframe {
				height: 100% !important;
				min-height: 300px !important;
			}
		}
	}

	& .c-section__actions {
		padding-top: 0;
	}

	& .c-section__header:not(:first-child) {
		padding-top: 4rem;
		border-top: 1px solid var(--color-primary);
	}

	& .twitter-timeline {
		height: 100%;
	}

	& a.twitter-timeline {
		font-size: 0;
		line-height: 0;
		text-indent: -250rem;
	}

	& .linkedin-frame iframe {
		width: auto;
		min-width: 20.75rem;
		border: 0 !important;
		margin: auto;
	}

	& .c-section__animation {
		top: -3.25rem;
	}

	& .stackoverflow-frame {
		& a {
			display: inline-block;
			vertical-align: top;
			position: relative;
		}

		& img {
			display: block;
			position: relative;
			z-index: 1;
		}

		& .c-svg-external-link {
			position: absolute;
			bottom: 0.125rem;
			left: 3.25rem;
			z-index: 2;
		}
	}

	& .eapps-widget {
		& [class^='ButtonBase__ButtonContainer'] {
			@extend .c-btn;
			color: var(--color-primary) !important;
			font-size: 1rem !important;
			font-weight: 400 !important;
			border: 1px solid var(--color-action) !important;
			margin-top: 1.5rem;
			border-radius: 0.25rem !important;

			& span {
				padding: 0 !important;
				background: none !important;
			}
		}
	}

	& .c-section--stats {
		padding-top: 0;
		margin-top: -6rem;
	}
}

@media (--tablet-landscape) {
	.c-section--social {
		& codersrank-widget {
			--badge-technology-font-size: 0.75rem;
		}
	}
}

@media (--mobile) {
	.c-section--social {
		& codersrank-widget {
			max-width: none;
		}

		& .o-grid__item {
			padding-bottom: 0;
		}

		& .c-section__header:not(:first-child) {
			padding-top: 2rem;
		}

		& .c-section--stats {
			margin-top: -2rem;
		}
	}
}

.theme-light {
	& .c-section--social {
		& h3:not([class]) {
			color: var(--color-secondary);
		}

		& .github-frame {
			background-color: var(--color-secondary);
		}

		& .eapps-widget {
			& [class^='ButtonBase__ButtonContainer'] {
				color: var(--color-secondary) !important;
			}
		}
	}
}

@media (--hover) {
	.c-section--social {
		& h2 a:hover {
			text-decoration: none;
		}

		& .eapps-widget {
			& [class^='ButtonBase__ButtonContainer']:hover {
				color: var(--color-action) !important;
				background-color: var(--color-primary) !important;
			}
		}
	}

	.theme-light {
		& .c-section--social {
			& .eapps-widget {
				& [class^='ButtonBase__ButtonContainer']:hover {
					color: var(--color-action) !important;
					background-color: var(--color-secondary) !important;
				}
			}
		}
	}
}
