.c-testimonial {
	--parallelowow-tile-width: 64px;
	--parallelowow-probability: 0.9;
	--parallelowow-base-colors: var(--color-primary);
	--parallelowow-stroke-color: var(--color-secondary);
	--parallelowow-stroke-weight: 2;

	height: 100%;
	position: relative;
	padding: 1rem;
	border: 1px solid;
	background-color: var(--color-secondary);
	border-radius: 2.5rem;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		opacity: 0.05;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background-image: paint(parallelowow);
		border-radius: 2.5rem;
	}
}

.c-testimonial__head {
	color: currentcolor;
	text-decoration: none;
	display: block;
	position: relative;
	z-index: 2;
	padding-left: 6rem;

	& img {
		position: absolute;
		top: 0;
		left: 0;
	}

	& h3,
	& h4,
	& p {
		margin: 0;
	}

	& h4 {
		font-weight: normal;
	}

	& p {
		font-style: italic;
	}

	& .c-svg-external-link {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.c-testimonial__body {
	position: relative;
	z-index: 2;
	padding: 1rem 0;
	border-top: 1px solid var(--color-action);
	margin-top: 1rem;

	& time {
		text-decoration: underline;
		text-decoration-color: var(--color-action);
		text-underline-offset: 0.25rem;
		display: block;
		margin-bottom: 1rem;
	}
}

.c-section--testimonials {
	& .c-section__animation {
		margin-top: -3.25rem;
	}

	& .swiper {
		& img {
			height: auto;
			display: block;
			border-radius: 50%;
		}
	}

	& .swiper-slide {
		height: auto;
		box-sizing: border-box;
	}
}

.c-testimonials__list {
	margin-bottom: 3rem;

	& .swiper {
		& img {
			width: 5rem;
		}
	}
}

.c-testimonials__pagination {
	& .swiper-slide {
		width: 5.5rem;
		padding: 0 0.25rem;
		border-radius: 50%;

		& img {
			width: 5rem;
			padding: 0.125rem;
			border: 0.125rem solid var(--color-primary);
			transition: all var(--timing) var(--easing);
		}
	}

	& .swiper-wrapper {
		justify-content: center;
	}

	& .swiper-slide-thumb-active {
		& img {
			background-color: var(--color-action);
			border-color: var(--color-action);
		}
	}
}

@media (--mobile) {
	.c-testimonial__head {
		& p,
		& h4 {
			font-size: 1rem;
		}
	}

	.c-testimonials__list {
		margin-bottom: 2rem;
	}

	.c-testimonials__pagination {
		margin-bottom: 1rem;

		& .swiper-wrapper {
			justify-content: flex-start;
		}
	}

	.c-section--testimonials {
		& .c-section__animation {
			margin: -1rem 0 1.5rem;
		}
	}
}
