.c-section--timeline {
	& .c-section__animation {
		top: 0.625rem;
	}

	& .vertical-timeline {
		color: var(--color-secondary);
		text-align: left;
		margin-bottom: 1rem;

		&::before {
			background-color: var(--color-action);
		}
	}

	& .vertical-timeline-element-icon {
		background-color: var(--color-primary);
		box-shadow:
			0 0 0 0.25rem var(--color-action),
			inset 0 0.125rem 0 rgba(0, 0, 0, 0.07),
			0 0.125rem 0 0.25rem rgba(0, 0, 0, 0.07);
	}

	& .vertical-timeline-element-title {
		padding-bottom: 0.5rem;

		&,
		& * {
			font-size: var(--font-size-h3);
			line-height: var(--line-height-base);
			font-weight: 700;
		}

		& p {
			margin: 0;
		}
	}

	& .vertical-timeline-element-subtitle {
		padding-bottom: 1.25rem;
		border-bottom: 0.25rem solid var(--color-action);
	}

	& .vertical-timeline-element-content {
		padding: 1rem;
		box-shadow: 0 0 0 0.25rem var(--color-action);
	}

	& .vertical-timeline-element-content-arrow {
		top: 16px !important;
		border-width: 1rem;
		border-right-color: var(--color-action);
	}

	& .vertical-timeline-element-date {
		text-align: left !important;
		position: static !important;
		top: auto !important;
		right: auto !important;
		left: auto !important;
	}
}

@media (--tablet-landscape) {
	.c-section--timeline {
		& .vertical-timeline-element-content-arrow {
			top: 0.625rem !important;
			border-width: 0.75rem;
		}
	}
}

.theme-light .c-section--timeline {
	& .vertical-timeline {
		color: var(--color-primary);
	}

	& .vertical-timeline-element-icon {
		background-color: var(--color-secondary);
	}
}
