:root {
	--font-sans-serif: system-ui;
	--font-fira-sans: var(--font-sans-serif);
	--color-base: #333;
	--color-primary: #fff;
	--color-secondary: #000;
	--color-action: #ef4c23;
	--color-calendar-graph-day-bg: #ebedf0;
	--color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
	--color-calendar-graph-day-L0-bg: #ededed !important;
	--color-calendar-graph-day-L1-bg: #acd5f2 !important;
	--color-calendar-graph-day-L2-bg: #7fa8c9 !important;
	--color-calendar-graph-day-L3-bg: #527ba0 !important;
	--color-calendar-graph-day-L4-bg: #254e77 !important;
	--color-calendar-halloween-graph-day-L1-bg: #631c03;
	--color-calendar-halloween-graph-day-L2-bg: #bd561d;
	--color-calendar-halloween-graph-day-L3-bg: #fa7a18;
	--color-calendar-halloween-graph-day-L4-bg: #fddf68;
	--color-calendar-winter-graph-day-L1-bg: #0a3069;
	--color-calendar-winter-graph-day-L2-bg: #0969da;
	--color-calendar-winter-graph-day-L3-bg: #54aeff;
	--color-calendar-winter-graph-day-L4-bg: #b6e3ff;
	--color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
	--color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
	--color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
	--color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
	/* prettier-ignore */
	--houdini-color: var(--color-action), color-mod(var(--color-action) shade(20%)), color-mod(var(--color-action) shade(40%));
	--parallelowow-tile-width: 24;
	--parallelowow-base-colors: var(--houdini-color);
	--parallelowow-probability: 0.5;
	--parallelowow-stroke-weight: 0.5;
	--bytemare-gap: 1;
	--bytemare-colors: var(--houdini-color);
	--bytemare-tile-size: 16;
	--bytemare-probability: 0.5;
	--blotto-color: var(--color-action);
	--blotto-tile-size: 8;
	--blotto-amplitude: 2.25;
	--blotto-max-opacity: 1;
	--blotto-blend-mode: multiply;
}

.theme-light {
	--color-base: #333;
	--color-primary: #000;
	--color-secondary: #fff;
	--color-action: #ef4c23;
	--color-calendar-graph-day-border: rgba(27, 31, 35, 0.3);
}
