// Align

.alignleft {
	float: left;
	margin: 0 2rem 2rem 0;
}

.alignright {
	float: right;
	margin: 0 0 2rem 2rem;
}

.alignnone,
.aligncenter {
	float: none;
}

.alignnone {
	margin: 0 0 2rem;
}

.aligncenter {
	display: block;
	margin: 0 0 2rem;
}
