@import '../src/index.css';

canvas {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	z-index: 1;
}

.btn {
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 2;
	padding: 0;
	border: 1px solid #fff;
	margin: 0;
	background: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	&:not([hidden]) {
		display: block;
	}

	&-play,
	&-pause {
		font-size: 0;
		line-height: 0;
		text-indent: -100%;
		overflow: hidden;
	}

	&-play {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M8 5v14l11-7z' /%3E%3C/svg%3E");
	}

	&-pause {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M6 19h4V5H6v14zm8-14v14h4V5h-4z' /%3E%3C/svg%3E");
	}
}

/* prettier-ignore */
social-links { /* stylelint-disable-line selector-type-no-unknown */
	position: absolute;
	bottom: 0;
	left: 0.5rem;
	right: 0.5rem;
	z-index: 3;

	@media (min-width: 768px) {
		top: 1.5rem;
		right: 1rem;
		bottom: auto;
		left: auto;
	}
}

#menu {
	font-size: 0.875rem;
	line-height: 1.4285714285714286;
	color: #fff;
	position: absolute;
	top: 1rem;
	left: 5rem;
	z-index: 2;
	padding: 0.8125rem 1rem;
	border: 1px solid;
	background: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
}

#tracks {
	font-size: 0.875rem;
	line-height: 1.25;
	color: #fff;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	padding: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);

	&:not([hidden]) {
		display: flex;
	}

	button {
		font-size: 100%;
		line-height: inherit;
		color: currentColor;
		display: block;
		flex: 0 0 calc(100% - 1rem);
		padding: 0.5rem;
		border: 1px solid;
		margin: 0.5rem;
		cursor: pointer;
		background: transparent;
		border-radius: 0;
		box-shadow: none;
		transition: all 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);

		&:hover {
			color: #000;
			background-color: #fff;
		}

		@media (min-width: 768px) {
			flex: 0 0 calc(50% - 1rem);
		}

		@media (min-width: 1024px) {
			flex: 0 0 calc(33.333% - 1rem);
		}

		@media (min-width: 1200px) {
			flex: 0 0 calc(25% - 1rem);
		}

		@media (min-width: 1440px) {
			flex: 0 0 calc(20% - 1rem);
		}
	}
}

#back {
	font-size: 0.75rem;
	line-height: 1.5;
	position: absolute;
	right: 1rem;
	top: 1.75rem;
	z-index: 4;

	a {
		color: inherit;
	}

	@media (min-width: 768px) {
		top: auto;
		bottom: 1rem;
	}
}
