$accentColor = #ef4c23
$textColor = #fff
$borderColor = #bdbdbd
$codeBgColor = #000
$bgColor = #263238

a + a img
	margin-left 0.25rem

.nav-links .repo-link svg
	position relative
	top 2px

img[alt="Logo"]
	width 4rem
	height 4rem
	display block
	border 1px solid $codeBgColor
	margin auto
	background-color $accentColor
	border-radius 50%

#atanas-atanasov-s-projects
	text-align center

img[alt="Avatar"]
	width 16rem
	height auto
	display block
	margin 3.5rem auto
	border-radius 50%

img[alt^="Inverted"]
	background-color $textColor

html,
body,
.navbar,
.sidebar,
.theme-container .navbar,
.theme-container .sidebar
	background-color $bgColor

.navbar .links
	background-color $bgColor !important

.theme-container .search-box input
	color $codeBgColor

.theme-container .search-box .suggestion a
	color $accentColor

.theme-container .content code
	background-color $codeBgColor

@media (max-width: 719px)
	.sidebar .nav-links a
		display block
		padding 0.25rem 0.25rem 0.25rem 1.35rem
