$accentColor = #ef4c23
$textColor = #fff
$borderColor = #bdbdbd
$codeBgColor = #000
$bgColor = #263238

[id^="hi-i-m-atanas"]
	text-align center

[id^="hi-i-m-atanas"]::after
	content ''
	width 8rem
	height 8rem
	display block
	margin 2rem auto 0
	background url("https://atanas.info/images/temp/atanas.jpg") no-repeat 50% 50% / cover
	border-radius 50%

[id^="hi-i-m-atanas"] ~ p img:only-child
	display block
	margin auto

[id^="hi-i-m-atanas"] ~ div[align="center"],
[id^="hi-i-m-atanas"] ~ div[align="center"] a
	display flex
	flex-flow row wrap
	align-items center
	justify-content center

[id^="hi-i-m-atanas"] ~ div[align="center"] a
	width 2.5rem
	height 2.5rem
	margin: 0 0.25rem 1rem
	background-color $textColor
	border-radius 50%

[id^="hi-i-m-atanas"] ~ div[align="center"] a:hover
	background-color $accentColor

[id^="hi-i-m-atanas"] ~ p[align="center"] a
	display block
	padding 1rem
	background $textColor

[alt*="Emmet ITCSS Logo"],
[alt*="Inverted Triangle CSS"]
	box-sizing border-box
	padding: 0.5rem
	background $textColor

a[target="_blank"]
	display inline-flex
	flex-flow row nowrap
	align-items center
	justify-content flex-start

a[target="_blank"] img,
a[target="_blank"] svg,
a[target="_blank"] span
	line-height 1
	display block

.nav-links a[target="_blank"]
	display inline-flex

html,
body,
.navbar,
.sidebar,
.theme-container .navbar,
.theme-container .sidebar
	background-color $bgColor

.navbar .links
	background-color $bgColor !important

.theme-container .search-box input
	color $codeBgColor

.theme-container .search-box .suggestion a
	color $accentColor

.theme-container .content code
	background-color $codeBgColor

@media (max-width: 719px)
	.sidebar .nav-links a.repo-link
		display flex
		padding 0.25rem 0.25rem 0.25rem 1.35rem
