// Article
// scss-lint:disable ImportantRule

.c-article {
	@include flex-row(wrap, flex-start, flex-start);

	&__actions {
		text-align: center;
		flex: 0 0 100%;
		padding-top: 3.5rem;
	}

	&__block {
		flex: 0 0 30%;
		position: relative;
		margin-bottom: 2rem;

		&:nth-of-type(1) {
			flex: 0 0 55%;
			margin-right: 3rem;
		}

		&:nth-of-type(2) {
			margin: 8rem 3rem 2rem 18rem;
		}

		&:nth-of-type(3) {
			margin-top: 4rem;
		}

		&:nth-of-type(4) {
			margin: 4rem 3rem 2rem 18rem;
		}

		&:nth-of-type(5) {
			margin-top: 2rem;
		}

		&:nth-of-type(6) {
			flex: 0 0 60%;
			margin-top: 2rem;
			margin-left: 18rem;
		}

		@include tablet-landscape {
		}
	}

	h2 {
		text-align: center;
		flex: 0 0 100%;
	}

	img {
		flex: 1;
		max-width: 15rem;
		display: block;
		position: sticky;
		top: 7rem;
		left: 0;
		margin-top: -2rem;
		border-radius: 50%;
	}

	@include tablet-portrait {
		img {
			position: static;
			top: auto;
			left: auto;
			margin: auto;
		}

		&__block {
			flex: 0 0 100% !important;
			margin: 0 0 3rem !important;

			&:nth-of-type(1) {
				flex: 0 0 55vw !important;
				margin-left: 3vw !important;
			}

			&:nth-of-type(6) {
				margin-bottom: 0 !important;
			}
		}
	}

	@include mobile {
		display: block;

		h2,
		h3 {
			text-align: center;
		}

		&__block {
			margin: 0 auto 2rem !important;

			&:nth-of-type(1) {
				margin: 0 auto 2rem !important;
			}
		}
	}
}
