// Article

.c-article {
	@include flex-row(wrap, flex-start, space-between);

	&__block {
		flex: 0 0 30%;
		position: relative;
		margin-bottom: 2rem;

		&:nth-of-type(1) {
			flex: 0 0 55%;
			margin-right: 8rem;
		}

		&:nth-of-type(2) {
			margin-top: 8rem;
			margin-left: 18rem;
		}

		&:nth-of-type(3) {
			margin-top: 4rem;
		}

		&:nth-of-type(4) {
			margin-top: 4rem;
			margin-left: 19rem;
		}

		&:nth-of-type(5) {
			margin-top: 2rem;
			left: -4rem;
		}

		&:nth-of-type(6) {
			flex: 0 0 60%;
			margin-top: 2rem;
			margin-left: 25rem;
		}

		&:nth-of-type(7) {
			flex: 0 0 50%;
			margin-top: 3rem;
			margin-left: 18rem;
		}

		@include tablet-landscape {
			&:nth-of-type(1) {
				flex: 0 0 50vw;
				margin: 0 10vw 3vw 0;
			}

			&:nth-of-type(2) {
				flex: 0 0 50vw;
				margin: 0 0 4vw 45vw;
			}

			&:nth-of-type(3) {
				flex: 0 0 40vw;
				margin: 0 0 4vw 27vw;
			}

			&:nth-of-type(4) {
				flex: 0 0 45vw;
				margin: 0 0 3vw 50vw;
			}

			&:nth-of-type(5) {
				flex: 0 0 65vw;
				left: auto;
				margin: 0 0 3vw 27vw;
			}

			&:nth-of-type(6) {
				flex: 0 0 50vw;
				margin: 0 5vw 5vw 40vw;
			}

			&:nth-of-type(7) {
				flex: 0 0 50vw;
				margin: 0 0 0 29vw;
			}
		}
	}

	h2 {
		text-align: center;
		flex: 0 0 100%;
	}

	img {
		flex: 1;
		max-width: 15rem;
		display: block;
		position: sticky;
		top: 7rem;
		left: 0;
		margin-top: -2rem;
		border-radius: 50%;
	}

	@include tablet-portrait {
		img {
			position: static;
			top: auto;
			left: auto;
			margin: auto;
		}

		&__block {
			&:nth-of-type(1) {
				flex: 0 0 55vw;
				margin: 0 0 3vw;
			}

			&:nth-of-type(2) {
				flex: 0 0 80vw;
				margin: 0 0 4vw 5vw;
			}

			&:nth-of-type(3) {
				flex: 0 0 75vw;
				margin: 0 0 4vw 0;
			}

			&:nth-of-type(4) {
				flex: 0 0 75vw;
				margin: 0 0 3vw 15vw;
			}

			&:nth-of-type(5) {
				flex: 0 0 65vw;
				left: auto;
				margin: 0 0 3vw 3vw;
			}

			&:nth-of-type(6) {
				flex: 0 0 70vw;
				margin: 0 5vw 5vw 20vw;
			}

			&:nth-of-type(7) {
				flex: 0 0 50vw;
				margin: 0 0 0 23vw;
			}
		}
	}

	@include mobile {
		display: block;

		&__block {
			margin: 0 auto 2rem !important;
		}
	}
}
