// Nav

@import '~scss-goodies/tools/svg-background';

$external: '<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 26 26" width="26px" height="26px"><path d="M 12.3125 0 C 10.425781 0.00390625 10.566406 0.507813 11.5625 1.5 L 14.78125 4.71875 L 9.25 10.25 C 8.105469 11.394531 8.105469 13.230469 9.25 14.375 L 11.6875 16.78125 C 12.832031 17.921875 14.667969 17.925781 15.8125 16.78125 L 21.34375 11.28125 L 24.5 14.4375 C 25.601563 15.539063 26 15.574219 26 13.6875 L 26 3.40625 C 26 -0.03125 26.035156 0 22.59375 0 Z M 4.875 5 C 2.183594 5 0 7.183594 0 9.875 L 0 21.125 C 0 23.816406 2.183594 26 4.875 26 L 16.125 26 C 18.816406 26 21 23.816406 21 21.125 L 21 14.75 L 18 17.75 L 18 21.125 C 18 22.160156 17.160156 23 16.125 23 L 4.875 23 C 3.839844 23 3 22.160156 3 21.125 L 3 9.875 C 3 8.839844 3.839844 8 4.875 8 L 8.3125 8 L 11.3125 5 Z"/></svg>';

.c-nav {
	font-size: 1.2rem;
	color: $color-white;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	pointer-events: none;

	ul,
	&::before {
		opacity: 0;
		visibility: hidden;
		transition: all $timing $easing;
	}

	&::before {
		@include centered;
		content: '';
		z-index: 1;
		background-color: rgba($color-black, 0.9);
	}

	ul {
		width: 20rem;
		height: 100%;
		@include flex-column(wrap, center, space-between);
		position: relative;
		z-index: 2;
		border-left: 1px solid;
		margin: 0 0 0 auto;
		transform: translateX(100%);

		@include mobile {
			width: 100%;
			border-left: 0;
		}
	}

	li,
	a {
		width: 100%;
	}

	li {
		flex: 1;

		+ li {
			border-top: 1px solid;
		}
	}

	a {
		color: inherit;
		height: 100%;
		text-decoration: none;
		@include flex-row(nowrap, center, center);
		background-color: $color-black;

		@include hover {
			color: $color-action;
			background-color: $color-white;
		}

		&[target='_blank'] {
			&:after {
				content: '';
				width: 1rem;
				height: 1rem;
				display: inline-block;
				vertical-align: top;
				margin: -0.125rem 0 0 0.5rem;
				@include background-svg($external);
			}
		}
	}

	&__toggle {
		width: 3.13rem;
		height: 3.13rem;
		@include flex-row(wrap, center, center);
		align-content: center;
		position: relative;
		z-index: 2;
		padding: 0 1rem;
		cursor: pointer;
		transform: rotate(0deg);
		transition: transform $timing $easing;

		span {
			width: 1.25rem;
			height: 0.1875rem;
			display: block;
			opacity: 1;
			position: relative;
			top: 0;
			margin: 0.095rem auto;
			background-color: currentColor;
			transform: rotate(0deg);
			transition: all $timing $easing;
		}
	}

	&__toggler:checked {
		~ .c-nav {
			pointer-events: all;

			ul,
			&::before {
				opacity: 1;
				visibility: visible;
			}

			ul {
				transform: translateX(0);
			}

			&__toggle {
				transform: rotate(90deg) translate(-1rem, -1.125rem);

				span {
					&:nth-child(2) {
						opacity: 0;
					}

					&:first-child {
						top: 0.375rem;
						transform: rotate(45deg);
					}

					&:last-child {
						top: -0.375rem;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}

	@include mobile {
		font-size: 1rem;
	}
}
