// Nav

.c-nav {
	font-size: 1.25rem;
	position: absolute;
	top: 100%;
	right: 0;

	&::before {
		@include centered;
		content: '';
		opacity: 0;
		visibility: hidden;
		z-index: 1;
		pointer-events: none;
		background-color: rgba($color-black, 0.9);
		transition: all $timing $easing;
	}

	ul {
		@include flex-row(wrap, center, space-between);
		margin: 0 -0.5rem;
	}

	li {
		width: 7rem;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: 3;
		top: 1rem;
		left: 0;
		transition: all 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		&:first-child {
			transform: translate(-10vw, 50vh) scale(0);
			transform-origin: 0% -100%;

			a {
				animation: floatX 7s infinite linear;
			}
		}

		&:nth-child(2) {
			transform: translate(-20vw, 30vh) scale(0);
			transform-origin: -60% -100%;

			a {
				animation: floatY 10s infinite alternate-reverse;
			}
		}

		&:nth-child(3) {
			transform: translate(-40vw, 70vh) scale(0);
			transform-origin: -100% -50%;

			a {
				animation: floatXY 8s infinite alternate;
			}
		}

		&:nth-child(4) {
			transform: translate(-40vw, 50vh) scale(0);
			transform-origin: -100% -50%;

			a {
				animation: floatXY 6s infinite alternate;
			}
		}

		&:nth-child(5) {
			transform: translate(-20vw, 20vh) scale(0);
			transform-origin: -100% -50%;

			a {
				animation: floatXY 5s infinite alternate;
			}
		}

		&:nth-child(6) {
			transform: translate(-50vw, 45vh) scale(0);
			transform-origin: -100% -50%;

			a {
				animation: floatXY 9s infinite alternate;
			}
		}
	}

	a {
		color: inherit;
		text-align: center;
		text-decoration: none;
		height: 0;
		display: block;
		padding-bottom: 100%;
		background-color: rgba($color-white, 0.5);
		border-radius: 50%;

		span {
			line-height: 1.2;
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			padding: 0 0.25rem;
			transform: translateY(-50%);
		}

		@include hover {
			background-color: $color-action;
		}
	}

	&__toggle {
		width: 3.13rem;
		height: 3.13rem;
		@include flex-row(wrap, center, center);
		align-content: center;
		position: relative;
		z-index: 2;
		padding: 0 1rem;

		span {
			width: 1.25rem;
			height: 0.1875rem;
			display: block;
			margin: 0.095rem auto;
			background-color: currentColor;
		}
	}

	&__toggler:checked {
		~ .c-nav {
			&::before {
				opacity: 1;
				visibility: visible;
				position: fixed;
				pointer-events: all;
			}

			li {
				opacity: 1;
				visibility: visible;

				&:first-child {
					transform: translate(-25vw, 10vh) scale(1);
				}

				&:nth-child(2) {
					transform: translate(-50vw, 25vh) scale(1);
				}

				&:nth-child(3) {
					transform: translate(-35vw, 50vh) scale(1);
				}

				&:nth-child(4) {
					transform: translate(-20vw, 40vh) scale(1);
				}

				&:nth-child(5) {
					transform: translate(-35vw, 30vh) scale(1);
				}

				&:nth-child(6) {
					transform: translate(-50vw, 45vh) scale(1);
				}
			}
		}
	}

	@include mobile {
		&__toggler:checked {
			~ .c-nav {
				li {
					&:first-child {
						transform: translate(-45vw, 5vh) scale(1);
					}

					&:nth-child(2) {
						transform: translate(-90vw, 22vh) scale(1);
					}

					&:nth-child(3) {
						transform: translate(-60vw, 55vh) scale(1);
					}

					&:nth-child(4) {
						transform: translate(-40vw, 30vh) scale(1);
					}

					&:nth-child(5) {
						transform: translate(-82vw, 1vh) scale(1);
					}

					&:nth-child(6) {
						transform: translate(-80vw, 39vh) scale(1);
					}
				}
			}
		}
	}
}
