// Section

.c-section {
	&--hello {
		text-align: center;
		height: 100vh;
		position: relative;
		z-index: 1;

		.o-shell {
			@include flex-row(nowrap, center, center);
			height: 100%;
		}

		h1 {
			margin: 0;
		}

		h2 {
			min-height: 3.125rem;
		}
	}

	&--about {
		padding: 4rem 0;
		position: relative;
		z-index: 2;
		background-color: $color-black;

		&::before {
			content: '';
			@include centered;
			z-index: 1;
			background-color: rgba($color-black, 0.5);
		}

		.o-shell {
			position: relative;
			z-index: 2;
		}
	}

	&--skills {
		color: $color-white;
		text-align: center;
		position: relative;
		z-index: 2;
		padding: 3rem 0;
		background-color: rgba($color-black, 0.8);
		cursor: all-scroll;

		h2 {
			font-size: 4vw;
			margin-bottom: 2rem;

			small {
				font-size: 1rem;
			}
		}

		svg {
			width: 100%;
			display: block;
			overflow: visible;
		}

		text {
			font-size: 1rem;
			line-height: 1;
			fill: $color-white;
			text-shadow: 0 0 2rem $color-black;
			opacity: 0;
			visibility: hidden;
			transition: opacity $timing $easing, visibility $timing $easing;
			pointer-events: none;
			user-select: none;
		}

		line {
			stroke: $color-white;
			stroke-width: 0.13rem;
		}

		image {
			opacity: 1;
			visibility: visible;
			transition: opacity $timing $easing, visibility $timing $easing;
			pointer-events: none;
		}

		circle {
			stroke: $color-white;
			stroke-width: 1px;
			cursor: pointer;
			transition: fill $timing $easing, stroke $timing $easing,
				stroke-width $timing $easing;

			&:hover {
				fill: $color-action;
				stroke: $color-action;
				stroke-width: 1rem;

				~ text {
					opacity: 1;
					visibility: visible;
				}

				~ image {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		@include tablet-portrait {
			display: block;

			h2 {
				font-size: 10vw;
				margin-bottom: 4rem;
			}
		}

		@include mobile {
			display: block;

			h2 {
				font-size: 16vw;
				margin-bottom: 3rem;
			}
		}
	}

	&--portfolio {
		color: $color-black;
		position: relative;
		z-index: 2;
		background-color: rgba($color-black, 0.5);

		.o-shell {
			height: 64rem;
			@include flex-row(wrap, center, center);
			align-content: center;
		}

		h1,
		h2 {
			text-align: center;
			flex: 0 0 100%;
		}
	}

	&--slides {
		color: $color-black;
		position: relative;
		z-index: 2;
		padding: 2rem 0;
		background-color: $color-white;

		ul {
			@include flex-row(wrap, center, center);
		}

		li {
			padding: 0 1rem;
		}

		label {
			text-transform: uppercase;
			display: block;

			@include hover {
				color: $color-action;
			}
		}

		iframe {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border: 0;
		}

		input:checked {
			+ .c-section__frame {
				display: block;
			}
		}

		.c-section {
			&__nav {
				padding-bottom: 2rem;
			}

			&__frame {
				height: 0;
				display: none;
				position: relative;
				padding-bottom: 62.5%;
			}
		}
	}
}
