// Socials

.c-socials {
	ul {
		@include flex-row(nowrap, center, space-between);
		margin: 0 -0.5rem;
	}

	li {
		padding: 0 0.5rem;
	}

	a,
	svg {
		display: block;
	}

	a {
		@include hover {
			svg {
				fill: $color-action;
			}
		}
	}

	@include mobile {
		flex: 0 0 100%;

		ul {
			margin: 0 -0.1275rem;
		}

		li {
			padding: 0.1275rem;
		}
	}
}
