// SVG Icons

[class^='svg-'] {
	display: inline-block;
	vertical-align: middle;
}

.svg-email {
	width: 1.5rem;
	height: 1.69rem;
	fill: $color-white;
}

.svg-github {
	width: 1.5rem;
	height: 1.63rem;
	fill: $color-white;
}

.svg-gitlab {
	width: 1.5rem;
	height: 1.63rem;
	fill: $color-white;
}

.svg-twitter {
	width: 1.5rem;
	height: 1.38rem;
	fill: $color-white;
}

.svg-npm {
	width: 4rem;
	height: 1.5rem;
	fill: $color-white;
}

.svg-linkedin {
	width: 1.5rem;
	height: 1.63rem;
	fill: $color-white;
}

.svg-logo {
	width: 3.13rem;
	height: 3.13rem;
	fill: $color-white;
}
