// SVG Icons

[class^='svg-'] {
	display: inline-block;
	vertical-align: middle;
}

.svg-email {
	width: 1.94rem;
	height: 2.19rem;
	fill: $color-white;
}

.svg-github {
	width: 2.13rem;
	height: 2.06rem;
	fill: $color-white;
}

.svg-gitlab {
	width: 2.06rem;
	height: 1.94rem;
	fill: $color-white;
}

.svg-twitter {
	width: 2.13rem;
	height: 1.69rem;
	fill: $color-white;
}

.svg-npm {
	width: 5.25rem;
	height: 2.06rem;
	fill: $color-white;
}

.svg-linkedin {
	width: 2.19rem;
	height: 2.06rem;
	fill: $color-white;
}

.svg-logo {
	width: 50px;
	height: 50px;
	fill: $color-white;
}
