name: 'Code quality & Build'

on:
    workflow_dispatch:
    push:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: lts/*
            - name: Build
              run: |
                  node -v
                  yarn
                  yarn prettier
                  yarn lint
                  yarn build
                  yarn test:coverage
                  yarn type-coverage
              env:
                  GTM_ID: ${{ secrets.GTM_ID }}
                  REDIS_URL: ${{ secrets.REDIS_URL }}
                  MONGODB_URI: ${{ secrets.MONGODB_URI }}
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
                  GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
                  LAST_FM_API_KEY: ${{ secrets.LAST_FM_API_KEY }}
                  NEXT_PUBLIC_GTM_ID: ${{ secrets.GTM_ID }}
                  CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
                  CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
                  CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
                  CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
                  CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
                  CONTENTFUL_PREVIEW_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_PREVIEW_ACCESS_TOKEN }}
                  NODE_OPTIONS: '--max_old_space_size=8192'
            - name: Upload
              uses: actions/upload-artifact@v7
              with:
                  name: coverage
                  path: coverage/lcov.info
    coverage:
        needs: build

        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [lts/*]

        name: codacy-coverage-reporter

        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v8
              with:
                  name: coverage
                  path: coverage
            - name: Run codacy-coverage-reporter
              uses: codacy/codacy-coverage-reporter-action@master
              with:
                  project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
                  coverage-reports: coverage/lcov.info
