name: 'Deploy'

on:
    schedule:
        - cron: '0 12 * * *' # At noon every day

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: amondnet/vercel-action@v19
              with:
                  vercel-token: ${{ secrets.ZEIT_TOKEN }}
                  vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
                  vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
                  vercel-args: '--confirm --prod'
